@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('style.dark.css');

:root {
    --background: #fff;
    --color: #000;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color);
    background-color: var(--background);
    font-family: 'Inconsolata', sans-serif;
    transition: background 0.3s ease-in-out;
}

#container {
    max-width: 50%;
    text-align: center;
}

#shadow {
    position: fixed;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 100vw 5em rgb(114, 114, 114);
}

.tags {
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tags>* {
    border: 2px solid var(--color);
    padding: 10px 20px 10px 20px;
}

#switch_theme {
    cursor: pointer;
    text-decoration: underline;

    position: fixed;
    margin: 10px;
    bottom: 0;
    right: 0;

    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid var(--color);
}

#switch_theme > img {
    width: 50px;
}

a {
    color: var(--color);
}