body.dark {
    color: var(--background) !important;
    background-color: var(--color) !important;
}

body.dark input {
    color: var(--background) !important;
}

body.dark #result,
body.dark a {
    color: var(--background) !important;
}

body.dark .tags > * {
    border: 2px solid var(--background);
}

body.dark #shadow {
    box-shadow: 0 0 100vw 5em rgb(161, 148, 147);
}

body.dark a {
    color: var(--background);
}

body.dark #switch_theme {
    border: 1px solid var(--background) !important;
}

body.dark #switch_theme > img {
    filter: invert() !important;
}