body.dark {
    background-color: #2f3136;
}

body.dark #box {
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
}

body.dark #box p {
    color: #000;
}

body.dark #content > *[data-closed="false"] {
    color: #fff;
}

body.dark #content #age {
    color: #ffd9a4;
}

body.dark #content>*[data-closed="true"] #age {
    color: #2f3136;
}

body.dark .social p {
    color: #fff;
}

body.dark a {
    color: #fff;
    text-decoration-color: #fff;
}

body.dark .project-card {
    border: 1px solid #ffd9a4;
}

body.dark .project-card .description * {
    background-color: #fffdcc;
}

body.dark #socials .social img {
    filter: invert();
}

body.dark .accordion {
    color: #000;
}

/* MOBILE */
@media screen and (max-width: 798px) {
    body.dark #content>* {
        color: #fff;
    }

    body.dark #content>*[data-closed="true"] #age {
        color: unset;
    }
}