@media screen and (max-width: 767px) {
    body>div:not([id]) {
        width: 100% !important;
        border-bottom: 1px solid;
    }

    body>#arrows {
        display: flex !important;
        width: 100% !important;
        position: fixed;
        bottom: 0;
        right: 0;
    }

    body>#arrows>div {
        width: 50%;
        text-align: center;
        background-color: black;
        color: white;
        cursor: pointer;
    }
}