@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

@import url('style.mobile.css');
@import url('style.dark.css');

:root {
    --font: 'Inconsolata', monospace;
    --font-size: 16px;
    --columns: 2;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: var(--font);
    font-size: var(--font-size);
    transition: background-color 0.5s, color 0.5s;
}

body#centered {
    display: grid;
    place-items: center;
    align-content: center;
}

body>div:not([id]) {
    display: grid;
    overflow-y: auto;
    place-items: center;
    align-content: center;

    float: left;
    height: 100%;
    border: 1px solid;
    width: calc(100% / var(--columns));
}

body>div:first-child #arrow {
    bottom: 0;
    width: 100%;
    display: none;
    cursor: pointer;

    color: #fff;
    text-align: center;
    background-color: black;
}

body>div>div#inner {
    overflow-y: auto;
    height: 100%;
}

ul {
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}

ul li::before,
ol li::before {
    content: "⮑ ";
}

#age {
    font-weight: 900;
}

*[data-deprecated] {
    text-decoration: line-through;
}

*[data-deprecated]::after {
    content: " (deprecated)";
    color: red;
}

#contact li:first-child::before {
    content: "✉ ";
}

#switch_theme {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

body>#arrows {
    display: none;
}

body>#arrows>div {
    padding: 0.5em;
}